@import "../../sass/variables.scss";
@import "../../sass/mixin.scss";

.Layout {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-columns: 20rem auto;
  grid-template-rows: auto 10rem auto auto;
  grid-template-areas:
    "header header"
    "nav main"
    ". main"
    "footer footer";
  grid-gap: $default-grid-gap;

  // @include responsive(900px) {
  //   grid-template-columns: 1fr 3fr;
  //   grid-template-rows: auto;
  //   grid-template-areas:
  //     "header header"
  //     "nav main"
  //     ". main"
  //     "footer footer";
  // }

  @include responsive(1023px) {
    display: block;
  }

  .Header {
    z-index: 1;
    grid-area: header;
    padding: $sides-padding;
    background: $dark-bg;
    color: $light-font-color;
    text-transform: uppercase;
    letter-spacing: $title-letter-spacing;
    font-weight: $default-font-weight;

    @include responsive(1023px) {
      display: block;
      position: relative;
    }

    &-logo {
      font-size: 3rem;
      font-weight: $default-font-weight;
      letter-spacing: $title-letter-spacing;
      text-transform: uppercase;

      @include responsive(1023px) {
        font-size: 3rem;
        line-height: 1.2;
      }
    }
  }

  .Nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: $default-font-weight;

    .Mobile-menu {
      display: none;
    }

    @include responsive(1023px) {
      .Mobile-menu {
        z-index: 1;
        display: block;
        width: 100%;
        padding: $sides-padding;
        text-decoration: none;
        border: none;
        font-size: 1.2rem;
        line-height: 2;
        text-transform: capitalize;
        text-align: left;
        background: $dark-bg;
        color: $light-font-color;
      }

      .Nav-links {
        z-index: -1;
        position: absolute;
        background: #ebebeb;
        width: 100%;
        transition: 0.3s ease-in-out;

        &-show {
          margin-top: 0;
        }

        &-hide {
          margin-top: -100%;
        }
      }
    }

    &-link {
      display: block;
      padding: $sides-padding;
      font-size: 1.2rem;
      line-height: 2;
      padding-left: 2rem;
      // @include minResponsive(1024px) {

      // }
    }

    .Section-active {
      background: $dark-bg;
      color: $light-font-color;
    }

    ul {
      margin: 0.5rem 0;
      padding-left: 4rem;
      list-style: none;
    }
  }

  .Main {
    grid-area: main;
    padding: $sides-padding;
  }

  .Footer {
    height: 10rem;
    margin-top: 10rem;
    background: $dark-bg;
    color: $light-font-color;
    @include minResponsive(1024px) {
      grid-area: footer;
    }

    @include responsive(1023px) {
      display: block;
      width: 100%;
    }
  }
}
