@import "../../sass/variables.scss";
@import "../../sass/mixin.scss";
@media screen and (max-width: 768px) {
  .Layout {
    display: block;

    .Header {
      // grid-area: header;
      display: block;
      height: 2rem;
      line-height: 2rem;
      padding-left: 5px;
      text-transform: uppercase;
      letter-spacing: $title-letter-spacing;
      font-weight: $default-font-weight;
      background: $dark-bg;
      color: $light-font-color;
    }

    // .Mobile-header {
    //   display: block;
    // }

    // .Computer-header {
    //   display: none;
    // }

    .Nav {
      // grid-area: nav;
      display: block;
      position: sticky;
      top: 0;
      text-transform: uppercase;
      font-weight: $default-font-weight;
      background: $light-bg;

      .Mobile-menu {
        width: 100%;
        text-decoration: none;
        border: none;
        line-height: 1.8rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-left: 0.5rem;
        text-align: left;
        display: block;
        background: $dark-bg;
        color: $light-font-color;
      }

      &-item {
        display: block;
        line-height: 1.8rem;
        font-size: 1.2rem;
        padding-left: 0.5rem;
      }

      .active {
        background: $dark-bg;
        color: $light-font-color;
      }

      .Nav-links {
        display: none;

        &-active {
          display: block;
        }
      }
    }
  }

  .Main {
    grid-area: main;
  }

  .Footer {
    // grid-area: footer;
    display: block;
    width: 100%;
    height: 20vw;
    margin-top: 20vw;
    background: $dark-bg;
    color: $light-font-color;
  }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  .Layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "nav main"
      ". main"
      "footer footer";
    grid-gap: $default-grid-gap;

    .Mobile-menu {
      display: none;
    }

    .Header {
      grid-area: header;
      padding: 10px;
      background: $dark-bg;
      color: $light-font-color;

      &-logo {
        font-size: $title-font-size;
        font-weight: 800;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }

    // .Mobile-header {
    //   display: none;
    // }

    // .Computer-header {
    //   display: block;
    // }

    .Nav {
      grid-area: nav;
      position: sticky;
      top: 0;
      text-transform: uppercase;
      font-weight: 600;

      .Nav-item {
        display: block;
        line-height: 2rem;
        font-size: 1.2rem;
        padding-left: 1rem;
      }

      .active {
        background: $dark-bg;
        color: $light-font-color;
      }
    }

    .Main {
      grid-area: main;
    }

    .Footer {
      grid-area: footer;
      width: 100%;
      height: 10rem;
      margin-top: 10rem;
      background: $dark-bg;
      color: $light-font-color;
    }
  }
}

@media screen and (min-width: 901px) {
  .Layout {
    display: grid;
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: 20rem auto;
    grid-template-rows: auto 10rem auto auto;
    grid-template-areas:
      "header header"
      "nav main"
      "footer main"
      ". main";
    grid-gap: $default-grid-gap;

    .Header {
      grid-area: header;
      padding: 10px;
      background: $dark-bg;
      color: $light-font-color;

      &-logo {
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }

    // .Mobile-header {
    //   display: none;
    // }

    // .Computer-header {
    //   display: block;
    // }

    .Nav {
      grid-area: nav;
      position: sticky;
      top: 0;
      text-transform: capitalize;
      font-weight: 600;

      .Mobile-menu {
        display: none;
      }

      &-item {
        display: block;
        line-height: 1.8rem;
        font-size: 1.2rem;
        padding-left: $navbar-padding;
      }

      .active {
        background: $dark-bg;
        color: $light-font-color;
      }
    }

    .Main {
      grid-area: main;
      padding-right: 30px;

      .Section {
        margin-bottom: 10rem;
      }
    }

    .Footer {
      grid-area: footer;
      font-size: 1.2rem;
      position: sticky;
      top: 11rem;
      padding-left: $navbar-padding;
    }
  }
}
