@import "../../sass/variables.scss";
@import "../../sass/mixin.scss";
.Section-item {
  display: block;
  height: auto;
  padding: $section-padding;

  .Item {
    &-title {
      font-size: $title-font-size;
      font-weight: $default-font-weight;
      letter-spacing: $title-letter-spacing;

      @include minResponsive(901px) {
        padding-bottom: 30px;
      }

      @include responsive(425px) {
        font-size: $title-font-size / 2;
      }
    }

    &-text {
      font-size: $default-font-size;
      letter-spacing: $default-letter-spacing;
      padding: 10px 30px 10px 0;

      @include minResponsive(901px) {
        padding: 0 100px 50px 0;
      }

      @include responsive(425px) {
        font-size: $default-font-size / 2;
        padding: 20px 0;
      }
    }
  }
}
