@import "../../sass/variables.scss";
@import "../../sass/mixin.scss";
.Section-item {
  display: block;
  height: auto;
  padding: 0.6rem;

  @include minResponsive(640px) {
    margin-bottom: 1.5rem;
  }

  .Section {
    &-title {
      font-size: 6rem;
      font-family: apercu, sans-serif;
      font-weight: $default-font-weight;
      line-height: 1.2;
      letter-spacing: $title-letter-spacing;
      margin-bottom: 1.8rem;

      @include responsive(1023px) {
        font-size: 5rem;
      }

      @include responsive(639px) {
        font-size: 2.8rem;
      }
    }

    &-text {
      margin-bottom: 3rem;
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: $default-font-weight;
    margin-bottom: 1rem;

    @include responsive(1023px) {
      font-size: 1.9rem;
      line-height: 1.2;
    }
  }

  p {
    font-size: 1.1rem;
    color: $main-text-color;
    margin-bottom: 1rem;

    @include responsive(1023px) {
      font-size: 1rem;
    }
  }
}
