@import "../../../../sass/variables.scss";
@import "../../../../sass/mixin.scss";

@include minResponsive(640px) {
  .Stretch {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;

    .Box-item {
      width: 100%;
      @include marginBotLastChildExcluded(3rem);

      img {
        padding: 5px 0;
        width: 100%;
        height: auto;
        max-width: stretch;
        @include marginBotLastChildExcluded();
      }

      .Img-text {
        width: 100%;
        height: auto;
        text-align: left;
      }
    }
  }
}
