@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

//mobile responsive layout
.Section-box {
  display: block;
  @include responsive(639px) {
    // padding: 10px 0;

    .Box-item {
      width: 100%;
      @include marginBotLastChildExcluded(3rem);

      img {
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: stretch;

        @include marginBotLastChildExcluded();
      }

      .Img-text {
        width: 100%;
        height: auto;
        text-align: left;
      }
    }
  }
}
