@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";

//mobile responsive layout
@include responsive(639px) {
  .Section-box {
    display: block;
    padding: 10px 0;

    .Box-item {
      width: 100%;
      margin-bottom: 20px;
      img {
        padding: 5px 0;
        width: 100%;
        height: 100%;
        max-width: stretch;
      }

      .Img-text {
        width: 100%;
        height: auto;
        text-align: left;
      }
    }
  }
}
