.Popup {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  background: #ffebcd;
  text-align: center;
  transition: all 0.5s;
}

.show {
  top: 0;
}

.hide {
  top: -100%;
}
