@import "../../../../sass/variables.scss";
@import "../../../../sass/mixin.scss";

@include minResponsive(640px) {
  .Window {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;

    @include minResponsive(1024px) {
      justify-content: space-between;
    }

    .Box-item {
      width: 100%;

      @include minResponsive(1024px) {
        width: 40%;
        height: auto;
      }

      img {
        padding: 5px 0;
        width: 100%;
        height: auto;
        max-width: stretch;
      }

      .Img-text {
        width: 100%;
        height: auto;
        text-align: left;

        @include minResponsive(1024px) {
          padding: 0;
        }
      }
    }

    @include minResponsive(1024px) {
      .Margin-bot {
        margin-bottom: 5rem;
      }
    }
  }
}
