@import "../../../../sass/variables.scss";

@media screen and (max-width: 1200px) {
  .Window {
    &-box {
      display: block;
      padding: 10px 0;

      .Box-item {
        width: 100%;
        margin-bottom: 20px;

        img {
          padding: 5px 0;
          width: 100%;
          height: 100%;
          max-width: stretch;
        }

        .Img-text {
          width: 100%;
          height: auto;
          font-size: $img-text-font-size;
          font-weight: $default-font-weight;
          text-align: left;
        }
      }
    }
  }
}

// @media screen and (max-width: 900px) and (min-width: 426px) {
//   .Window {
//     &-box {
//       display: flex;
//       justify-content: space-between;
//       flex-wrap: wrap;
//       padding: 10px 0;

//       .Box-item {
//         width: 45%;
//         height: auto;

//         img {
//           padding: 5px 0;
//           width: 100%;
//           height: auto;
//           max-width: stretch;
//         }

//         .Img-text {
//           width: 100%;
//           height: auto;
//           font-size: $img-text-font-size;
//           font-weight: $default-font-weight;
//           text-align: left;
//         }
//       }
//     }
//   }
// }

@media screen and (min-width: 1201px) {
  .Window {
    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px 0;

      .Box-item {
        width: 40%;
        height: auto;

        &:nth-child(-n + 2) {
          margin-bottom: 5rem;
        }

        img {
          padding: 5px 0;
          width: 100%;
          height: auto;
          max-width: stretch;
        }

        .Img-text {
          width: 100%;
          height: auto;
          font-size: $img-text-font-size;
          font-weight: $default-font-weight;
          text-align: left;
        }
      }
    }
  }
}
