input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

.Login-container {
  box-sizing: border-box;
  max-width: 30rem;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 3rem;
  margin-top: 15%;

  .Login-title {
    text-align: center;
  }

  .Login-form {
    width: 100%;
    .Form-item {
      position: relative;
      margin-top: 2rem;

      .Label-inside {
        position: absolute;
        background: #fff;
        color: #979797;
        font-size: 1rem;
        margin-top: -2.5rem;
        margin-left: 1rem;
        transition: 0.2s ease all;
        pointer-events: none;
      }

      input {
        width: 100%;
        height: 3rem;
        border: 1px solid #979797;
        border-radius: 3px;
        padding-left: 1rem;

        &:focus {
          outline: none;
          border-color: #333;
          box-shadow: 0 0 0 1px #333;
        }

        &:valid ~ label {
          margin-top: -4rem;
          padding: 0 6px;
          font-size: 0.8rem;
        }

        &:focus ~ label {
          margin-top: -4rem;
          padding: 0 6px;
          font-size: 0.8rem;
        }
      }
    }

    .Form-button {
      display: inline-block;
      width: 100%;
      height: 4rem;
      line-height: 4rem;
      background: #979797;
      color: #fff;
      border: 0;
      border-radius: 100px;
      text-decoration: none;
      margin-top: 2rem;
      text-align: center;
      transition: 0.3s;
      &:hover {
        filter: brightness(85%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px #333;
      }
    }
  }
}
