@mixin responsive($pixels) {
  @media screen and (max-width: $pixels) {
    @content;
  }
}

@mixin minResponsive($pixels) {
  @media screen and (min-width: $pixels) {
    @content;
  }
}

@mixin responsiveInterval($minPix, $maxPix) {
  @media screen and (min-width: $minPix) and (max-width: $maxPix) {
    @content;
  }
}

@mixin marginBotLastChildExcluded($marg: 1rem) {
  margin-bottom: $marg;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin defaultBtn() {
  button {
    display: inline-flex;
    text-decoration: none;
    border: none;
    background: unset;
    margin: 0;
    padding: 0;
    cursor: pointer;
    @content;
  }
}
