$default-grid-gap: 1rem 1rem;
$section-padding: 10px;
$default-font-weight: 600;
$default-letter-spacing: 1.5px;
$default-font-size: 1.5rem;

$title-letter-spacing: 3px;
$title-font-size: 5rem;

$navbar-padding: 2rem;

$img-text-font-size: 1rem;

$dark-bg: #333;
$light-bg: #fff;
$dark-font-color: #333;
$light-font-color: #fff;
