@import "../../../../sass/variables.scss";

@media screen and (max-width: 425px) {
  .Rail {
    &-box {
      display: block;
      padding: 10px 0;

      .Box-item {
        width: 100%;
        margin-bottom: 20px;

        img {
          padding: 5px 0;
          width: 100%;
          height: 100%;
          max-width: stretch;
        }

        .Img-text {
          width: 100%;
          height: auto;
          font-size: $img-text-font-size;
          font-weight: $default-font-weight;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 426px) {
  .Rail {
    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px 0;

      .Box-item {
        width: 45%;
        height: auto;

        img {
          padding: 5px 0;
          width: 100%;
          height: auto;
          max-width: stretch;
        }

        .Img-text {
          width: 100%;
          height: auto;
          font-size: $img-text-font-size;
          font-weight: $default-font-weight;
          text-align: left;
        }
      }

      .Margin-bot-med-scr {
        margin-bottom: 5rem;
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .Rail {
    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px 0;

      &::after {
        content: "";
        flex: auto;
      }

      .Box-item {
        width: 28%;
        height: auto;
        padding-right: 5%;

        img {
          padding: 5px 0;
          width: 100%;
          height: auto;
          max-width: stretch;
        }

        .Img-text {
          width: 100%;
          height: auto;
          font-size: $img-text-font-size;
          font-weight: $default-font-weight;
          text-align: left;
        }
      }

      .Margin-bot-lg-scr {
        margin-bottom: 5rem;
      }
    }
  }
}
