@import "../../../../sass/variables.scss";
@import "../../../../sass/mixin.scss";

@include minResponsive(639px) {
  .Rail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;

    @include minResponsive(1024px) {
      &::after {
        content: "";
        flex: auto;
      }
    }

    .Box-item {
      width: 45%;
      height: auto;

      @include minResponsive(1024px) {
        width: 28%;
        padding-right: 5%;
      }

      img {
        padding: 5px 0;
        width: 100%;
        height: auto;
        max-width: stretch;
      }

      .Img-text {
        width: 100%;
        height: auto;
        text-align: left;
      }
    }

    @include minResponsive(1024px) {
      .Margin-bot-lg-scr {
        margin-bottom: 5rem;
      }
    }

    @include responsive(1023px) {
      .Margin-bot-med-scr {
        margin-bottom: 5rem;
      }
    }
  }
}
